/* noto sans para texto */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/* Montserrat para titulos*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,500;1,600&display=swap');

:root {

    --bg-color: #191919;
    --secondary-bg: #101010;
    --main: #ff5757;
    --text: #000000;
    --second-color: #e4e4e4;
    --other-color: #c6c9d8bf;

    --h1-font: 7rem;
    --h2-font: 3.5rem;
    --p-font: 1.0rem;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--main);
    border-radius: 20px;
}


* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

body {

    color: var(--text);
    background: var(--bg-color);
}

header {

    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 11%;
    border-bottom: 1px solid transparent;
    transition: all ease .50s;
}

.logo {

    width: 100%;
    height: auto;
    color: var(--main);
    letter-spacing: 2px;
    font-size: 2rem;
}

.navlist {

    display: flex;
}

.navlist a {
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight: 600;
    margin: 0 40px;
    transition: all ease .40s;
}

.navlist a:hover {

    color: var(--main);
}

#menu {

    font-size: 42px;
    color: var(--text);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {

    padding: 120px 19% 100px;
}

.home {

    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.home-text h3 {

    color: var(--second-color);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    word-spacing: 10px;
}


.home-text h1 {

    font-family: 'Noto Serif', serif;
    list-style: none;
    font-size: var(--h1-font);
    color: var(--text);
    font-weight: 800;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.home-text h4 {

    color: var(--second-color);
    font-size: 20px;
    font-weight: 600;
    word-spacing: 5px;
    margin-bottom: 3.5rem;
}

.btn {

    display: inline-block;
    padding: 16px 45px;
    background: var(--main);
    color: var(--text);
    font-size: var(--p-font);
    font-weight: 600;
    transition: all ease .50s;
}

.btn:hover {

    transform: translateX(5px);
    background: transparent !important;
    border: 2px solid var(--main);
}

#texto {
    overflow: hidden;
    white-space: nowrap;
    border-right: .2rem solid var(--main);
    animation: escrever 2s steps(40, end), piscar-cursor .75s step-end infinite;
}

/* personalização*/ 
.personalization{

    margin-left: 10px;
    transition: 0.5s ease-in;
}

.personalization i{

    margin-top: 5px;
    font-size: 20px;
}

.personalization:hover{

    color: var(--main);
}

@keyframes escrever {
    from {
        width: 0;
    }

    to {
        width: 15em;
    }
}

@keyframes piscar-cursor {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: var(--main);
    }
    
}

header.sticky {

    padding: 15px 11%;
    background: #000;
    border-bottom: 1px solid var(--main);
}

.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 4rem;
}

.about-img img {

    width: 100%;
    height: auto;
}

.about-text h2 {

    font-family: 'Montserrat', sans-serif;
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;
}

.about-text h5 {

    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.4;
}

span {
    color: var(--main);
}

.about-text p {

    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 3rem;
}

.service {

    background: var(--secondary-bg);
}

.text-center {

    text-align: center;
}

.text-center h2 {

    font-family: 'Montserrat', sans-serif;
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;
}

.text-center h4 {
    font-size: 22px;
    font-weight: 500;

}

.service-item {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    justify-content: center;
    gap: 2.2rem;
    text-align: center;
    margin-top: 4rem;
}


.service-box {

    padding: 45px 30px;
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 1px solid transparent;
    cursor: pointer;
    height: 100%;
    transition: all ease .50s;
}

.service i {
    font-size: 50px;
    color: var(--main);
    margin-bottom: 10px;
}

.service h3 {

    font-size: 23px;
    font-weight: 700;
    margin-bottom: 12px;
}

.service p {
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 1.5rem;

}

.s-btn {

    display: inline-block;
    padding: 9px 24px;
    background: var(--main);
    color: var(--text);
    font-size: 15px;
    font-weight: 500;
    border: 2px solid var(--main);
    border-radius: 2rem;
    transition: all ease, 50s;
}

.s-btn:hover {

    transform: scale(1.1);
    background: transparent;
    border: 2px solid var(--main);
}

.service-box:hover {

    transform: translateY(-8px);
    border: 1px solid #4e5055;
}

.contact {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.left-contact {

    display: flex;
    align-items: center;
    text-align: center;
    gap: 4rem;
}

.in i {

    color: var(--main);
    opacity: 0.5;
    font-size: 120px;
    margin-bottom: 15px;
    transition: all ease .50s;
}

.in i:hover {
    opacity: 1;
    cursor: pointer;
}

.in h4 {

    font-size: 27px;
    font-weight: 500;
    letter-spacing: 1px;
}

.right-contact h2 {


    font-family: 'Montserrat', sans-serif;
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom: 5px;
}

.right-contact a {

    display: inline-block;
    color: var(--main);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 2px;
    border-bottom: 2px solid var(--main);
    padding: 3px 0;
    transition: all ease .40s;
}

.right-contact a:hover {

    transform: translateY(-5px);
    color: var(--text);
    border-bottom: 2px solid var(--text);
}

.right-contact p {

    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
}

.end-section {

    padding: 80px 19% 70px;
    background: var(--secondary-bg);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.end-section h3 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.end-section p {

    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 20px;
}

.end-section i {

    height: 40px;
    width: 40px;
    background: var(--main);
    color: var(--text);
    border: 2px solid var(--main);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
    margin: 0 9px;
    transition: all ease .50s;
}

.end-section i:hover {

    transform: translateY(-5px);
    background: transparent;
    border: 2px solid var(--main);
}

.scroll-btn i {

    position: none;
    right: 2.2rem;
    bottom: 2.2rem;
    color: var(--text);
    background: var(--main);
    font-size: 23px;
    padding: 9px;
    border-radius: 0.8rem;
    transition: all ease .50s;
}

.scroll-btn i.fixed {

    position: fixed;
}

.scroll-btn i:hover{

    transform: translateY(-6px);
    background: transparent;
    border: 2px solid var(--main);
}

.scroll-spo i {

    position: none;
    left: 2.2rem;
    bottom: 2.2rem;
    color: var(--text);
    background: #06b242;
    font-size: 23px;
    padding: 9px;
    border-radius: 0.8rem;
    transition: all ease .50s;
}

.scroll-spo i.fixed {

    position: fixed;
}

.scroll-spo i:hover{

    transform: translateY(-6px);
    background: transparent;
    border: 2px solid #06b242;
}

/* media */

@media (max-width: 1600px) {

    header {
        padding: 14px 4%;
    }

    header.sticky {
        padding: 8px 4%;
    }
}

@media (max-width: 1200px) {

    .home {
        min-height: 90vh;
    }

    .navlist a {

        margin: 0 20px;
    }

    :root {

        --h1-font: 5rem;
        --h2-font: 3.1rem;
        --p-font: 1rem;
    }
}

@media (max-width: 1060px) {

    .about {
        grid-template-columns: 1fr;
    }

    .about-img {

        text-align: center;
        order: 2;
    }

    .about-img img {

        max-width: 100%;
        width: 600px;
        height: auto;
    }

    .service-item {

        grid-template-columns: repeat(auto-fit, minmax(350px, auto));

    }

    .contact {

        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .left-contact {
        margin: auto;
    }
}

@media (max-width: 870px) {

    #menu {

        display: block;
    }

    .navlist {

        position: absolute;
        top: -800px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #000;
        padding: 20px 0;
        text-align: left;
        transition: all .50s ease;
    }

    .navlist a {

        display: block;
        font-size: 22px;
        padding: 12px 0;
    }

    .navlist.open {
        top: 100%;
    }
}

@media (max-width: 660px) {

    .home {

        min-height: 80vh;
    }

    :root {

        --h1-font: 3.8rem;
        --h2-font: 2.7rem;
        --p-font: 15px;
    }

    .hero-text h4 {

        font-size: 18px;
        word-spacing: 10px;
        margin-bottom: 30px;
    }

    .btn {

        padding: 10px 35px;
    }

    .left-contact {

        gap: 3rem;
    }

    .in i {

        font-size: 80px;
    }

    .in h4 {

        font-size: 20px;
    }
}

@media (max-width: 460px) {

    :root {

        --h1-font: 3.5rem;
        --h2-font: 2.5rem;
    }

    .hero-text h4 {

        font-size: 16px;
        word-spacing: 7px;
    }

}